html {
    scroll-behavior: smooth;
}
/* --- reset --- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, rem, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, rembed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;

    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}
html, body {
  height: 100%;
  background: #f9f8f4;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
.serif {
  font-family: 'Gentium Book Plus', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
ul {
    padding-left: 0.25rem;
}
ol {
  padding-left: 1.25rem;
}
ul li, ol li {
  margin-bottom: 4px;
}
iframe {
    overflow: hidden;
}
img {
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}
body {
    cursor: default;
    /* font-family: 'Geist', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
    font-family: 'Gentium Book Plus', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6;
    /* letter-spacing: -2%; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3a302d;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #1e215c;
  font: 600 30px 'PT Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
.lead-text {
  font-size: 19px;
  margin: 30px 0 40px 0;
  font-weight: 500;
  color: #1e1b19;
  font-family: 'PT Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: subpixel-antialiased;
}
hr {
  border: 0;
  border-top: 1px solid #696b8b;
  opacity: 0.25;
  margin: 30px 0;
  display: none;
}
@supports (-webkit-marquee-repetition: infinite) and (object-fit: fill) {
    body {
        letter-spacing: -0.005rem;
    }
    strong {
        letter-spacing: -0.015rem;
    }
}
strong {
    font-weight: 600;
}
h1 {
  line-height: 1.5;
  color: #1e215c;
  font-size: 25px;
  margin: 40px 0 20px 0;
  font-weight: 600;
  max-width: fit-content;
  font-family: 'PT Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
h2 {
  line-height: 1;
  /* background-color: #1e215c; */
  color: #1e1b19;
  /* padding: 3px 4px 2px; */
  /* border-bottom: 2px solid #1e215c; */
  /* border-radius: 2px; */
  font-size: 25px;
  margin: 50px 0 -10px 0;
  font-weight: 600;
  max-width: fit-content;
}
mark {
  line-height: 1;
  background-color: #1e215c;
  color: #f6f0e6;
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
  max-width: fit-content;
}
.squircle {
  position: relative;
  display: grid;
  place-items: center;
  margin: 0 0 0 -2px;
  mask-image: url('data:image/svg+xml,<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"><path d="m0 100c0-88 12-100 100-100s100 12 100 100-12 100-100 100-100-12-100-100"/></svg>');
  mask-repeat: no-repeat;
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: transform 200ms ease;
}
.squircle:hover {
  transform: scale(1.125);
}
.squircle > svg, .squircle > img {
  width: 100%;
  height: 100%;
  stroke: #1e215c;
  filter: brightness(1.2);
}
p {
    margin: 30px 0;
    text-align: justify;
}
a {
    transition: border .1s ease-in-out;
    color: #1e1b19;
    text-decoration: none;
    border-bottom: 1px dotted #6d70a0;
}
main a {
  font-weight: 600;
}
a:hover {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;
}
a.btn {
  border: 0;
  border-radius: 8px;
  background-color: #1c215e;
  color: white;
  display: flex;
  align-items: center;
  max-width: fit-content;
  padding: 8px 20px 10px 18px;
  font-size: 17px;
  line-height: 1.3;
  margin: -10px 0 10px;
  transition: scale .15s ease-in-out;
  font-weight: 400;
}
a.btn:hover {
  scale: 1.02;
  /* transform-origin: left; */
}
.center {
  text-align: center;
}
.max-w-fit {
  max-width: fit-content
}
.small {
  zoom: .8;
  opacity: .7
}
small {
  font-size: 15px;
  /* line-height: 1  */
}
img {
    max-height: 120px;
    max-width: 160px;
}

footer {
    font-size: 13px;
    color: #1e1b19;
    padding-bottom: 80px;
    margin-top: 20px;
    opacity: .6
}
footer a, footer a:hover {
  text-decoration: none;
  margin: 0 10px 0 0;
  color: inherit;
}
footer a, footer a:not(:hover) {
  border: 0;
}
footer svg {
  color: #999;
  transition: color .1s ease-in-out;
}
footer a:hover svg {
  color: #ff6602
}

#wrapper {
    width: 650px;
    max-width: calc(100% - 3rem);
    margin: 0 auto;
    position: relative;
    padding-top: 4rem;
    /* top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}
@media (max-width: 620px) {
  body {
    font-size: 18px;
    line-height: 1.6;
  }
  h1 {
    font-size: 26px;
    text-wrap: pretty;
  }
  h2, .lead-text {
    font-size: 22px;
    text-wrap: pretty;
  }
  p {
    text-align: left
  }
}
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #171414;
  }
  body {
    color: #c4b2ac;
  }
  .logo-image {
    filter: brightness(1.5);
  }
  .logo, h1 {
    color: #d7cfcc;
  }
  .lead-text, a, footer,
  h2 {
    color: #d7cfcc;
  }
  a.btn {
    color: #121435;
    background-color: white;
  }
}
